# Medical Insurance Project: Cleaning Information

We are going to clean up some patient records, which are currently stored in one large string. We will use Python string methods to obtain and clean up medcial data so that it is easier to read and analyze. The string medical_data stores the medical records for 10 individuals. Each record is separated by a ; and contains the name, age, BMI (body mass index), and insurance costs for and individual in that order.

In [1]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

- We want to replace every # with an $

In [3]:
updated_medical_data = medical_data.replace("#", "$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

- Let's see how many records we have in our medical data

In [4]:
num_records = 0
for record in updated_medical_data:
  if record == "$":
    num_records += 1
print("There are {0} medical records in the data.".format(num_records))

There are 10 medical records in the data.

- We are gonna split the medical data by the ";"

In [5]:
medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

- Adding every data divided in medical_data_split into a list

In [6]:
medical_records = []

for record in medical_data_split:
  medical_records.append(record.split(','))

print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

- Let's clean the data

In [7]:
medical_records_clean = []
for record in medical_records:
  record_clean = []
  for item in record:
    record_clean.append(item.strip())
  medical_records_clean.append(record_clean)
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

- We are gonna UPPER every name

In [9]:
for record in medical_records_clean:
    record[0] = record[0].upper()
    print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

- Creating the lists to separate every factor into each list

In [10]:
names = []
ages = []
bmis = []
insurance_costs = []

for record in medical_records_clean:
  names.append(record[0])
  ages.append(record[1])
  bmis.append(record[2])
  insurance_costs.append(record[3])

print(names)
print(ages)
print(bmis)
print(insurance_costs)

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

- Calculating the average BMI

In [11]:
total_bmi = 0
for bmi in bmis:
  total_bmi += float(bmi)

average_bmi = total_bmi / len(bmis)
print("Average BMI: " + str(float(average_bmi)))

Average BMI: 25.830000000000002

- Calculating the average income

In [14]:
 
insurance_cost_clean = []
for insurance_cost in insurance_costs:
    insurance_cost_clean.append(insurance_cost[1:])
#print(insurance_cost_clean)

total_insurance = 0
for insurance_cost in insurance_cost_clean:
    total_insurance += float(insurance_cost)
print(total_insurance)

average_insurance_cost = total_insurance / len(insurance_costs)
print("Average Insurance Cost: $" + str(float(average_insurance_cost)))

83907.0
Average Insurance Cost: $8390.7

- Let's see how's everyone's medical data

In [15]:
for i in range(len(medical_records_clean)):
    print(f"{names[i].lower()} is {ages[i]} years old with a BMI of {bmis[i]} and an insurance cost of {insurance_costs[i]}")

marina allison is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0
markus valdez is 30 years old with a BMI of 22.4 and an insurance cost of $4050.0
connie ballard is 43 years old with a BMI of 25.3 and an insurance cost of $12060.0
darnell weber is 35 years old with a BMI of 20.6 and an insurance cost of $7500.0
sylvie charles is 22 years old with a BMI of 22.1 and an insurance cost of $3022.0
vinay padilla is 24 years old with a BMI of 26.9 and an insurance cost of $4620.0
meredith santiago is 51 years old with a BMI of 29.3 and an insurance cost of $16330.0
andre mccarty is 19 years old with a BMI of 22.7 and an insurance cost of $2900.0
lorena hodson is 65 years old with a BMI of 33.1 and an insurance cost of $19370.0
isaac vu is 34 years old with a BMI of 24.8 and an insurance cost of $7045.0